  <h1 class="mt-5">Game of life</h1>
  <%if @game.file_exist?%>
    <%if @game.correct_format?%>
      <p class="lead">File  input.txt correct</p>
      <%= render "grid"%>
    <%else%>
      <p>Verificare il file input.txt</p>
      <p><strong>Title: <%if @game.title_format?%> ok <%else%> error <%end%></strong></p>
      <p><strong>Size grid: <%if @game.size_format?%> ok <%else%> error <%end%></strong></p>
      <p><strong>Format grid: <%if @game.grid_format?%> ok <%else%> error: values not permitted <%end%></strong></p>
    <%end%>
  <%else%>
  <p class="lead">File input.txt not found</p>
  <p>Used file sample.txt</p>
  <%= render "grid"%>
<%end%>
<hr>
